@page "/randomuser"
@using DemoCorsoBlazor.Library.Shared
@inject IRandomUsers RandomUsers

@if(ViewModel != null)
{
    <div class="row">
        <div class="col-6">
           <Chart Labels="ViewModel.Genere.Labels" ChartType="Models.ChartType.Bar">
                <Series Values="ViewModel.Genere.Values"></Series>
            </Chart>
        </div>

        <div class="col-6">
            <Chart Labels="@ViewModel.TotPerNazione.Labels" ChartType="Models.ChartType.Bar">
                <Series Values="@ViewModel.TotPerNazione.Values"></Series>
            </Chart>
        </div>
    </div>


    <div class="row">
    @foreach (Utente utente in ViewModel.Utenti)
    {
        <div class="col-3 mb-3">
            <MyCard Title="@($"{utente.name.first} {utente.name.last}")" Url="@utente.picture.medium" />
        </div>
    }
    </div>
}

@code {
    RandomUserViewModel? ViewModel = new RandomUserViewModel();
    protected override async Task OnInitializedAsync()
    {
        ViewModel = await RandomUsers.GetUsersAsync(23);
    }
}
