@page "/"
@using DemoCorsoBlazor.Core.MyMap
@using DemoCorsoBlazor.Library.GestioneEventi
@inject IGestioneEventi servizioEventi
@inject IMyMap myMap

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ListaEventi Titolo="Prossimi Eventi" 
             Eventi="listaEventi"
             OnCancella="CancellaEventiFuturi">

    <ChildContent>
        <h3>Prova</h3>
    </ChildContent>

    <ChildContent2>
        <h3>Secondo Frammento</h3>
    </ChildContent2>

</ListaEventi>

<MyMap parametri="parametri"></MyMap>

@code {
    List<Evento> listaEventi = new();
    ParametriMappa parametri = new();
    protected override void OnInitialized()
    {
        // myInterop = new MyJavaScriptInterops(jsRuntime);
        // await myInterop.ApriMappa();
        parametri = myMap.EstraiParametriMappa();
        listaEventi = servizioEventi.EstraiEventiFuturi();
    }

    [JSInvokable]
    public static ParametriMappa[] GetMarkers()
    {
        return new ParametriMappa[]{
            new ParametriMappa(){
                Latitudine = 45.464211,
                Longitudine = 9.191383,
                Description = "<h1> Pasticceria milano </h1>",
            },
            new ParametriMappa(){
                Latitudine = 45.964211,
                Longitudine = 9.291383,
                Description = "<p> lago di como </p>",
            }
        };
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }


    private void CancellaEventiFuturi(Evento evento)
    {
       // listaEventi.Remove(evento);
    }


}