@page "/reqres"
@inject IReqResData servizio

<button class="btn btn-danger" @onclick="() => CancellaRichiesta()">Cancella Richiesta</button>
<ListaUtentiReqRes Users="@users"></ListaUtentiReqRes>



<DettaglioGenerico TItem="ReqResData"
    Item="@currentUser"
    OnSalva="Salva" OnAnnulla="Annulla">

    <FormFields>
        <MyInputText Id="Name" Label="Name" @bind-Value="currentUser.Name"></MyInputText>
        <MyInputText Id="Job" Label="Job" @bind-Value="currentUser.Job"></MyInputText>
    </FormFields>


</DettaglioGenerico>

@Message
@currentUser.Id
@currentUser.CreatedAt

@code {
    private ReqResData currentUser = new();
    private List<User>? users = new();
    private string Message = "";

    protected override async Task OnInitializedAsync()
    {
        users = await servizio.GetSomeData();   
    }

    private void CancellaRichiesta()
    {
        servizio.CancelRequest();
        Message = "Richiesta cancellata";
    }

    async Task Salva(ReqResData data)
    {
        var created =  await servizio.PostSomeData(data);
        if(created != null)
        {
            currentUser = created;
            currentUser.Name = "";
            currentUser.Job = "";
        }
    }

    void Annulla()
    {

    }   
}
